body{
    text-align: center;
    background-color: #f4f4f4;
    font-family: 'Oxygen', sans-serif;

    -webkit-animation: fadein 500ms; /* Safari and Chrome */
    animation: fadein 500ms;
}


.loading{
    display:none;
    padding-top:100px;
}
body.isloading .loading{
    display:block;
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
}
body.isloading .chooser{
    display:none;
}

body.isloading{
    overflow: hidden;
}

.tardis{
    display:inline-block;
    height:224px;
    width:128px;
    background-image: url('minimalist_tardis_by_silveralchemistpony-d6dvtva-128.png');

    -webkit-animation: fadeinout 1500ms; /* Safari and Chrome */
    animation: fadeinout 1500ms;

    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;

}


@keyframes fadeinout {
    0% { opacity: 0; }
    50% {opacity: 1; }
    100%   { opacity: 0; }
}

/* Safari and Chrome */
@-webkit-keyframes fadeinout {
    0% { opacity: 0; }
    50% {opacity: 1; }
    100%   { opacity: 0; }
}

@keyframes fadein {
    0% { opacity: 0; }
    100%   { opacity: 1; }
}

/* Safari and Chrome */
@-webkit-keyframes fadein {
    0% { opacity: 0; }
    100%   { opacity: 1; }
}

.urlChooserList li,.urlChooserList{
    margin: 0;
    padding:0;
}
.urlChooserList{
    font-size: 1.4em;
    text-align: left;
    border: 1px solid rgba(161, 227, 4, 0.5);
    background-color: #ffffff;
    border-radius: 4px;
    list-style: none;
    display:inline-block;
    cursor: pointer;
    margin-top:20px;
    margin-bottom:20px;
}

.urlChooserList .uriItem{
    height:2em;
    line-height: 2em;

    padding-left:10px;
    padding-right:10px;

    cursor: pointer;
}

.urlChooserList .uriItem label{
    cursor: pointer;
    display:block;
}
.urlChooserList .uriItem:hover{
    border-radius: 4px;
    background-color: rgba(161, 227, 4, 0.5);
    transition: background-color 200ms ease;
    -webkit-transition: background-color 200ms ease;

}


.urlChooserList input[type=radio]{
    display:none;
}

.schemeSelector input {
    display:none;
    margin:0;
    padding:0;
}
.schemeSelector, .add{
    display: inline-block;
    border: 1px solid rgba(161, 227, 4, 0.5);
    border-radius: 4px;
    background-color: #ffffff;
    cursor: pointer;

}
.schemeSelector label{
    padding:5px;
    height:30px;
    min-width:60px;
    line-height: 30px;
    display:inline-block;
    cursor: pointer;
}

.schemeSelector label:first-child{
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}
.schemeSelector label:last-child{
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

.schemeSelector label:last-of-type:hover{
    background-image:linear-gradient(to right, white, rgba(161, 227, 4, 0.1),rgba(161, 227, 4, 0.1));
}
.schemeSelector label:last-of-type.selected{
    background-image:linear-gradient(to right, white, rgba(161, 227, 4, 0.5),rgba(161, 227, 4, 0.5));
}

.schemeSelector label:first-of-type:hover{
    background-image:linear-gradient(to left, white, rgba(161, 227, 4, 0.1),rgba(161, 227, 4, 0.1));
}
.schemeSelector label:first-of-type.selected{
    background-image:linear-gradient(to left, white, rgba(161, 227, 4, 0.5),rgba(161, 227, 4, 0.5));
}


.add{
    margin-top:15px;
    padding:10px;
}
.add:hover{
    background-color : rgba(161, 227, 4, 0.1);

}
.add:active{
    background-color : rgba(161, 227, 4, 0.5);
}