

.tokenList {
    list-style: none;
    margin : 0;
    padding: 0;
    white-space: nowrap;
    text-align: right;
}

.tokenListItem{
    list-style: none;
    margin: 0;
    padding:0;
    padding-top:3px;
    padding-bottom:5px;
    padding-left:3px;
    line-height: 20px;

    border-radius: 2px;
}

.tokenListItem:hover{
    background-color: rgba(161,227,4,0.5) ;
    transition: 0.1s ease-in-out ;
    /*background-color: #a1e304;*/
}
.tokenUrl{
    text-align: left;
    width:400px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.tokenListItem span{
    display: inline-block;
    margin-right:15px;
}
.tokenListItem span:last-child{
    margin-right : 5px;
}
.tokenValue{
    width:60px;
}
.tokenType{
    width:100px;
}


.pure-button-xsmall {
    font-size: 70%;
}

.pure-button-small {
    font-size: 85%;
}

.pure-button-large {
    font-size: 110%;
}

.pure-button-xlarge {
    font-size: 125%;
}

.pure-button-success,
.pure-button-error,
.pure-button-warning,
.pure-button-secondary {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.pure-button-success {
    background: rgb(28, 184, 65); /* this is a green */
}

.pure-button-error {
    background: rgb(202, 60, 60); /* this is a maroon */
}

.pure-button-warning {
    background: rgb(223, 117, 20); /* this is an orange */
}

.pure-button-secondary {
    background: rgb(66, 184, 221); /* this is a light blue */
}



.tokenHeader{
    padding-left:10px;
    padding-right:10px;
    text-align: right;
}