

.tokenList {
    list-style: none;
    margin : 0;
    padding: 0;
    white-space: nowrap;
    text-align: right;
}

.tokenListItem{
    list-style: none;
    margin: 0;
    padding:0;
    padding-top:3px;
    padding-bottom:3px;
    padding-left:3px;
}

.tokenListItem:hover{
    background-color: #a1e304;
}
.tokenUrl{
    text-align: left;
    width:500px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.tokenListItem span{
    display: inline-block;
    margin-right:15px;
}
.tokenValue{
    width:60px;
}
.tokenType{
    width:100px;
}